* {
    font-family: Liga SFMono Nerd Font, Iosevka Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size:17px;
}

window#waybar {
	background-color: #101012;
}


#custom-launcher {
  /*background-color: #1e1e21;*/
  margin: 7px 7px 7px 20px;
  background-color: #212125;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
/* right side */
#network {
	padding: 0 5px 0 15px;
}

#bluetooth {
  margin: 0 15px 0 15px;
}

#pulseaudio {
  padding: 0 15px 0 0;
}


#custom-bar {
	padding: 0 15px 0 15px;
}

#workspaces button.empty {
	color: #858893;
}

#workspaces button {
	color: #bfc9db;
}

#workspaces button.active {
	color: #bfc9db;
}

.modules-right {
  background-color: #212125;
  margin: 7px 20px 7px 7px;
  border-radius: 5px;

}


/*
#battery.plugged {
	color: #a5d6a7;
}
*/
